/* Main Styles */
body {
    color: #32292F;
}

section {
    width: 60%;
    margin: 0 auto;
}

h1 {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    color:#D4DF9E;
}

h2 {
    font-family: 'Merriweather', 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 900;
    color: #E54B4B;
    padding-top: 30px;
}

h3 {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: 900;
}

p,
li {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}

/* Colours */

.colour-rule {
    width: 150px;
    display: inline-block;
    vertical-align: top;
}

.box {
    width: 100px;
    height: 100px;
}

.black-coffee {
    background-color: #32292F;
}

.red-salsa {
    background-color: #E54B4B;
}

.yellow-green-crayola {
    background-color: #D4DF9E
}

/* Fonts */

.font-rule {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-top: -10px;
}

.lato {
    font-family: "Lato";
}

.lato-300 {
    font-family: "Lato";
    font-weight: 300;
}

.lato-900 {
    font-family: "Lato";
    font-weight: 900;
}

.merriweather {
    font-family: "Merriweather";
}

.merriweather-900 {
    font-family: "Merriweather";
    font-weight: 900;
}

/* Element Rule */

.element-rule {
    width: 250px;
    display: inline-block;
    margin-top: -40px;
}

.heading1 {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    color:#D4DF9E;
    margin-bottom: -5px;
}

.heading2 {
    font-family: 'Merriweather', 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 900;
    color: #E54B4B;
}

.heading3 {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: 900;
}

.paragraph {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: 300;
}